* {
    margin: 0;
    padding: 0;
}
.text_carousel{
    display: flex;
    justify-content: center;
    text-align: start;
    flex-direction: column;
    width: 60vw;
    height: 90vh;
    padding: 160px;

}
.img1{
    background-image: url(../../../../public/img/slider.jpg) !important;
    background-size: cover;
    height: 80vh;
    width: 100%;
}
.img2{
    background-image: url(../../../../public/img/slider2.jpg) !important;
    background-size: cover;
    height: 80vh;
    width: 100%;
}
.img3{
    background-image: url(../../../../public/img/slider3.jpg) !important;
    background-size: cover;
    height: 80vh;
    width: 100%;
}



.section_css {
    
    width: 98vw !important;
    height: 30vh;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    gap: 3px;
    position: relative !important;
    &::before{
        content: "gg" !important;
        position: absolute !important;
        top: 7vh !important;
        left: 60vw !important;
        width: 15vw !important;
        border-bottom: dotted dodgerblue 2px !important;
    }
   
}
.section_css h1 {width: 45vw !important; 
    text-align: center !important;
}
.section_css p{width: 45vw !important; 
    text-align: center !important;
}   
.ww{
    width: 60%;
   flex-direction: column;
   justify-content: center;
   align-items: end;
   text-align: center;

   
   
}
.css{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
   
}
.pahrmace {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    
}
.ico{
    font-size: 50px;
    border: 1px solid gray  ;
    border-radius: 50px 50px;
    padding: 12px;
    color: #00b2ed;
}
.img4{
    display: flex;
    background-image: url(../../../../public/img/blockqoute-bg.jpg);
    background-size: cover ;
    width: 98.9vw;
    height: 30vh;
    background-attachment: fixed;
    position: relative;
        &::before{
            content: "";
            position: absolute;
            z-index: 2;
            opacity: 70%;
            height: 100%;;
            width: 15vw;
            background-color: dodgerblue;
        }
    
}
.img5{
    background-image:url(../../../../public/img/blockqoute-bg.jpg) ;
    background-size: cover ;
    width: 98.9vw;
    height: 30vh;
}
